@model WellWiseCR.Models.Especialidad

@{
    ViewData["Title"] = "Modificar especialidad";
}

<h1>Modificar</h1>

<h4>Especialidad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEspecialidad" />
            <div class="form-group">
                <label asp-for="NombreEspecialidad" class="control-label">Nombre de especialidad</label>
                <input asp-for="NombreEspecialidad" class="form-control" />
                <span asp-validation-for="NombreEspecialidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label">Descripción</label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Estado" class="form-control" />
            <div class="form-group">
                <br />
                <input type="submit" value="Modificar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    @if (ViewData["ValidateMessage3"] != null)
    {
        <p class="text-center" style="color: red">@ViewData["ValidateMessage3"]</p>
    }
    <button class="btn btn-secondary" type="button" onclick="location.href='@Url.Action("Index", "Especialidad")'">Regresar</button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
