html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#fondito {
    background: rgb(0,13,168);
    background: linear-gradient(90deg, rgba(0,13,168,0.500437675070028) 0%, rgba(36,126,200,0.49763655462184875) 30%, rgba(84,255,234,0.49763655462184875) 100%);
}

#piepagina {
    background-color:aliceblue;
}
