@model WellWiseCR.Models.Usuario

@{
    ViewData["Title"] = "WellWiseCr - Registrar usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registrar usuario</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Nombre de usuario</label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Contraseña</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirmar contraseña</label>
                <input type="password" asp-for="ConfirmacionPassword" class="form-control" />
                <span asp-validation-for="ConfirmacionPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nombre completo</label>
                <input asp-for="NombreCompleto" class="form-control" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Correo electrónico</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Rol</label>
                <input asp-for="Rol" class="form-control" />
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Estado</label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Registrar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a class="btn btn-secondary" asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
