@model WellWiseCR.Models.Usuario;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WellWiseCR - Iniciar sesión</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WellWiseCR.styles.css" asp-append-version="true" />
</head>
<body class="bg-white d-flex justify-content-center align-items-center vh-100">
    
    <div class="bg-light bg-gradient p-5 rounded-1" style="width: 25%">
        <form class="justify-content-center" asp-controller="Login" asp-action="IniciarSesion" method="post">
            <h1 class="text-center">WellWiseCR</h1>
            <br />
            <br />
            <h3 class="text-center">Iniciar sesión</h3>

            <div class="text-center">
                <div>
                    <input type="text" placeholder="Nombre de usuario" asp-for="NombreUsuario" />
                </div>

                <div>
                    <br />
                    <input type="password" placeholder="Contraseña" asp-for="Password" />
                </div>

                <div>
                    <br />
                    <button class="btn btn-primary" type="submit">Ingresar</button>
                </div>
            </div>

            @if(ViewData["ValidateMessage"] != null)
            {
                <p class="text-center" style="color: red">@ViewData["ValidateMessage"]</p>
            }else{
                <p></p>
            }



        </form>

        <form class="text-center" asp-controller="Usuario" asp-action="Create" method="post">
            <br />
            <p>¿Olvidó su contraseña?</p>
            <button class="btn btn-secondary" type="submit">Reestablecer contraseña</button>
        </form>

        <form class="text-center" asp-controller="Login" asp-action="Create" method="post">
            <br />
            <br />
            <p>¿No tiene una cuenta?</p>
            <button class="btn btn-success" type="submit">Registrarse</button>
        </form>

    </div>
</body>
</html>
