@model WellWiseCR.Models.Usuario;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IniciarSesion</title>
</head>
<body>
    

    <form asp-controller="Login" asp-action="IniciarSesion" method="post">
        <h1>HOL4 MUND0</h1>
        <input type="text" placeholder="Nombre de usuario" asp-for="NombreUsuario" />
        <input type="password" placeholder="Contraseña" asp-for="Password" />

        <button type="submit">Ingresar</button>

        @if(ViewData["ValidateMessage"] != null)
        {
            <br />
            <br />
            <label>@ViewData["ValidateMessage"]</label>
        }
    </form>
</body>
</html>
