@model WellWiseCR.Models.Usuario;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IniciarSesion</title>
</head>
<body>
    <h1>HOL4 MUND0</h1>
</body>
</html>
