@model WellWiseCR.Models.Usuario;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reestablecer contraseña - WellWiseCR</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WellWiseCR.styles.css" asp-append-version="true" />
</head>
<body class="bg-white d-flex justify-content-center align-items-center vh-100">

    <div class="bg-light bg-gradient p-5 rounded-1" style="width: 25%">
        <form class="justify-content-center" asp-controller="Login" asp-action="ReestablecerPassword" method="post">
            <h1 class="text-center">WellWiseCR</h1>
            <br />
            <br />
            <h3 class="text-center">Recuperar contraseña</h3>

            <div class="text-center">
                <div>
                    <input id="inputText" type="text" placeholder="Correo electrónico" asp-for="Email" />
                </div>

                <div>
                    <br />
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </div>
            </div>


            @if (ViewData["ValidateMessage2"] != null)
            {
                <p>@ViewData["ValidateMessage2"]</p>
            }
            else
            {
                <p style="color: green">Contraseña reestablecida éxitosamente. Por favor revise su correo electrónico.</p>
            }

        </form>

        <form>
            <div class="text-center">
                <br />
                <br />
                <button class="btn btn-secondary" type="button" onclick="location.href='@Url.Action("IniciarSesion", "Login")'">Regresar</button>
            </div>
        </form>

    </div>
</body>
</html>