@model WellWiseCR.Models.Usuario

@{
    ViewData["Title"] = "Registrar usuario";
}

<br />
<h1>Registrar usuario</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegistrarUsuario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreUsuario" class="control-label">Nombre de usuario</label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Contraseña</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirmar contraseña</label>
                <input type="password" asp-for="ConfirmacionPassword" class="form-control" />
                <span asp-validation-for="ConfirmacionPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Correo electrónico</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nombre completo</label>
                <input asp-for="NombreCompleto" class="form-control" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label">Fecha de nacimiento</label>
                <input type="date" asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Provincia" class="control-label">Provincia</label>
                <select asp-for="Provincia" class="form-control">
                    <option value="" disabled selected>Seleccione la provincia</option>
                    <option value="San José">San José</option>
                    <option value="Alajuela">Alajuela</option>
                    <option value="Puntarenas">Puntarenas</option>
                    <option value="Heredia">Heredia</option>
                    <option value="Cartago">Cartago</option>
                    <option value="Guanacaste">Guanacaste</option>
                    <option value="Limón">Limón</option>
                </select>
                <span asp-validation-for="Provincia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Canton" class="control-label">Cantón</label>
                <input asp-for="Canton" class="form-control" />
                <span asp-validation-for="Canton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden asp-for="Rol" class="form-control" />
            </div>
            <div class="form-group">
                <input hidden asp-for="Estado" class="form-control" />
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Crear cuenta" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    @if (ViewData["ValidateMessage3"] != null)
    {
        <p class="text-center" style="color: red">@ViewData["ValidateMessage3"]</p>
    }
    <button class="btn btn-secondary" type="button" onclick="location.href='@Url.Action("IniciarSesion", "Login")'">Regresar</button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('header').empty();
        });
    </script>
}
